{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>
    <form method="POST">
        Title for your new blog:<br>
            <input type="text" name="title" value="{{title}}"/>
        {{title_error}}
        <br>  
        Your new blog:<br> 
            <textarea rows="4" cols="50" name="body" value="{{body}}"/></textarea>           
        {{body_error}} 
        <br>   
        <input type="submit" value="Add Entry"/>
    </form>    
 

{% endblock %}