<!--#{% extends "base.html" %}

#{% block content %}
#<h1 align="center"> blog posts</h1>-->
    <!--<form method='post'>
        <label>
        Title for your new blog:
        <label/>
        <br/> 
        <br/>  

        <input type="text" name="blog title"/>
        <label>
            <br/>
            <br/>
            Your new blog:
            <br/>
            <br/>
             <input type="text" name='blog' />
        </label>
        <br/>
        <br/>
        <input type="submit" value='Add Entry' />
    </form>-->

    <!--#<hr />

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <form method="POST" action="/delete-blog" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                    <input type="submit" value="Delete Post!" />
                </form>
            </li> 
        
            {% endfor %}
        </ul>

  {% endif %}-->

   <!--# <hr />

    <h2>Deleted Post</h2>

    <ul>
        {% for blog in completed_blogs %}
        <li>{{blog.name}}</li>
        {% endfor %}
    </ul>-->



   

{% endblock %}

